<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unbound Non-Sandbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Unbound Trial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Unbound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DB2F849167ABE87008AC0F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C28605917308566009A0B35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9FA5D9183AD5A4000AEBC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CFC2D5E1A5864B8004FCE5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
